<h2 class='title'>{{0.name}}</h2>
<img class='img' src='{{0.flag}}' alt='флаг страны' width='500' height='300' />
<p class='capital'>Capital: <span class='text'>{{0.capital}}</span></p>
<p class='pop'>Population: <span class='text'>{{0.population}}</span></p>
<p class='languages'>Languages:</p>
<ul>
  {{#each 0.languages}}
    <li>{{this.name}}</li>
  {{/each}}
</ul>